<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Corpus Christi Reroute Data</title>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>

  <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.19/"></script>

  <script>
    require([
     "esri/config",
      "esri/Map",
      "esri/views/MapView",

      "esri/layers/TileLayer",
      "esri/layers/FeatureLayer",
      "esri/widgets/Legend",
      "esri/Graphic",
      "esri/geometry/geometryEngine",
      "esri/layers/CSVLayer",
      "esri/renderers/UniqueValueRenderer",

      "esri/widgets/BasemapToggle",
      "esri/widgets/BasemapGallery"

    ], function (esriConfig,Map, MapView, FeatureLayer, TileLayer, Legend, Graphic, geometryEngine, CSVLayer,UniqueValueRenderer) {

      esriConfig.apiKey = "AAPKffde3052cf574022b35ce63f6362a24azSj_LOF71E2MiQgxFZ-I6PrqVj61_GQqdqnx97wXKk4x1U-sY9iWZQvm5QvQoW4e";

      
      const map = new Map({
        basemap: "arcgis-navigation" // Basemap layer
      });
    
      // Create view of map
      const view = new MapView({
          map: map,
          center: [-97.3964, 27.8006],
          zoom: 8.5, // scale: 72223.819286
          container: "viewDiv",
          constraints: {
              snapToZoom: false
          }
      });  

      // Create pop-up detail on point
      const popupInfo = {
          "title": "Customer Info",
          "content": "<b>Customer:</b> {customerName}<br><b>Contract:</b> {contractNumber}<br><b>Contract Type:</b> {contractType}<br><b>Delivery Frequency:</b> {deliveryFrequency}<br><b>Delivery Product:</b> {item}<br><b>Suggested Qty:</b> {suggestedQty}<br><b>Orig Next Delv Date:</b> {futureDeliveryDates}<br>"
        };    


      const csvLayer = new CSVLayer({
        url: "https://raw.githubusercontent.com/coleherman370/contractMapping/main/contracts.csv",
        popupTemplate: popupInfo,
        renderer: {
          type: "unique-value",
          legendOptions: {
            title: "Delivery Frequency"
              },
              field: "deliveryFrequency",
              uniqueValueInfos: [{
                value: "Every 2 Weeks",
                label: "Every 2 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#e6d800",
                  style: "solid"
                }
              }, {
                value: "Every 4 Weeks",
                label: "Every 4 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#e60049",
                  style: "solid"
                }
              }, {
                value: "Every 8 Weeks",
                label: "Every 8 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#9b19f5",
                  style: "solid"
                }
              }, {
                value: "Every 12 Weeks",
                label: "Every 12 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#1945f5",
                  style: "solid"
                }
              }, {
                value: "Every 16 Weeks",
                label: "Every 16 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#19e6f5",
                  style: "solid"
                }
              }, {
                value: "Every 20 Weeks",
                label: "Every 20 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#20f519",
                  style: "solid"
                }
              }, {
                value: "Every 24 Weeks",
                label: "Every 24 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#f5ac19",
                  style: "solid"
                }
              }, {
                value: "Every 28 Weeks",
                label: "Every 28 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#eaf519",
                  style: "solid"
                }
              }, {
                value: "Every 48 Weeks",
                label: "Every 48 Weeks",
                symbol: {
                  type: "simple-marker",
                  size: 6,
                  color: "#f519a8",
                  style: "solid"
                }
              }]
            }
          })
      
      map.add(csvLayer);
      view.ui.add(new Legend({ view }), "bottom-left");
    });
  </script>
</head>

<body>
  <div id="viewDiv"></div>
  <span id="layerToggle" class="esri-widget"> <input type="checkbox" id="completeCheckBox" checked /> Complete Data Set </span>
  <span id="layerToggle" class="esri-widget"> <input type="checkbox" id="clusterCheckBox" checked /> Clusters </span>
</body>

</html>